<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747036658622-sbj808i7p9uksi7khooqq9oh6fpt9ggv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747036658622-sbj808i7p9uksi7khooqq9oh6fpt9ggv</string>
	<key>API_KEY</key>
	<string>AIzaSyDHREdV5l-uJ-x2O54wdVi99BmEApib4GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>747036658622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackplus.teenfully</string>
	<key>PROJECT_ID</key>
	<string>teenfully-e6fb7</string>
	<key>STORAGE_BUCKET</key>
	<string>teenfully-e6fb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747036658622:ios:fdb6b8d1450dda8d67c7ef</string>
	<key>DATABASE_URL</key>
	<string>https://teenfully-e6fb7-default-rtdb.firebaseio.com</string>
</dict>
</plist>